* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

/*#region Root*/

:root{
    /* SITE COLORS */

    --primary-color: #FFFFFF;
    --secondary-color: #ECECEC;
    --text-color: #000000;
    --color-grey: #707070;
    --accent-color: #A0B0DA;
    --accent-grad: #C1F0FF;
    --call-to-action: #A0DAA6;

    /* LABEL COLORS */

    --color-green: #A0DAA6;
    --color-violet: #A1A0DA;
    --color-pink: #DAA0D1;
    --color-orange: #DAA0A0;
    --color-blue: #A0D3DA;
    --color-yellow: #DACDA0;
}
/*#endregion Root*/



/* #region Header */

header h1{
    margin-top: 8vw;
    margin-left: 8vw;
    font-size: 10vw;    
    font-weight: 700;
}

header hr{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

/*#endregion Header */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8vw;
}

/*#region Card*/
#list-section{
    display: flex;
    align-items: center;
}

figure{
    display: flex;
    margin-top: 6vw;
    width: 85%;
    filter: drop-shadow(1vw 1vw 1vw #00000030);
}

#label{
    background-color:#A0DAA6;
    height: 28vw;
    width: 16vw;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

figcaption{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

figcaption div{
    height: 80%;
    width: 80%;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

hgroup{


}

hgroup h1{
font-size: 6vw;
font-weight: 700;
}

hgroup h3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-orange);
    border-radius: 1vw;
    font-size: 3vw;
    font-weight: 500;
    width: 65%;
    margin-top: 0.5vw;
}

#bullet-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#bullet{
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 100vw;
    margin-top: 1vw;
    margin-right: 1vw;
    background-color: #00000090;
}

figcaption div hgroup h4{
    margin-top: 1.5vw;
    font-size: 3vw;
    font-weight: 500;
    color: #00000090;
}

#delete{
    margin: 0;
    margin-top: 5.5vw;
    margin-right: 5.5vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.8vw;
}

#delete span{
    background-color: #00000090;
    width: 8px;
    height: 8px;
    border-radius: 20vw;
}

/*#endregion Card*/

/*#region Menu Button*/

#menuButton{
    margin-top: 6vw;
    display: flex;
    justify-content: center;
    
}

#itemM  enuButton{
    margin-top: 6vw;
    display: flex;
    justify-content: center;
    
}

/*#endregion Menu Button*/


/*#region item menu button*/

#itemMenuButton{
    margin-top: ;
    display: flex;
    justify-content: center;
}

/*#region Home Button*/
#homeButton{
    position: absolute;
    bottom: 8vw;
    left: 50%;
    transform: translateX(-50%);

}



#homeButton div{
    position: relative;
    border-style: solid;
    width: 16vw;
    height: 16vw;
    border-radius: 100%;
    border-color: var(--call-to-action);
    filter: drop-shadow(0.2vw 0.2vw 0.2vw var(--call-to-action));
}

#homeButton div svg{
    width: 10vw;
    height: 10vw;
}

/*#endregion Home Button*/

/*#region Tutorial*/

#tutorialContainer{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 80%;
    margin-top: 4vw;
    text-align: center;
    font-size: 3vw;
    
}

#tutorialContainer h2{
    font-weight: 500;
}

/*#endregion Tutorial*/

/*#region Menu*/


#closeMenuButton{
    position: absolute;
    right: -4vw;
    top: -8vw;
    font-size: 6vw;
    cursor: pointer;
}

.button div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: 12vw;
    height: 12vw;
    border-radius: 100%;
    border-color: var(--call-to-action);
    filter: drop-shadow(0.2vw 0.2vw 0.2vw var(--call-to-action));
}

.button div svg{
    width: 8vw;
    height: 8vw;
}

#listMenu header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#listMenu header div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#listMenu{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90vw;
    background: -webkit-linear-gradient(-90deg, var(--accent-color), var(--accent-grad));
    border-top-left-radius: 6vw;
    border-top-right-radius: 6vw;
}

#menuContainer{
    position: relative;
    width: 80%;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 8vw;
}

input{
   
    border-radius: 3vw;
    border: 0.8vw solid var(--text-color);
    padding: 3vw;
    font-size: 4vw;
    font-weight: 600;
    background-color: #00000000;
    margin-bottom: 4vw;
}

#colorPickerButton{
    display: flex;
    justify-content: space-between;
    border-radius: 3vw;
    border: 0.8vw solid var(--text-color);
    padding: 3vw;
    font-size: 4vw;
    color: #00000085;
    font-weight: 600;
    background-color: #00000000;
    margin-bottom: 4vw; 
    cursor: pointer;
}

#colorPickerButton span{
    display: block;
    width: 5vw;
    height: 5vw;
    background-color: var(--color-pink);
    border: 2px solid var(--text-color);
    border-radius: 1.5vw;
}

#colorPickerMenu {
    display: flex;
    

}

#colorPickerMenu span{
    display: block;
    width: 5vw;
    height: 5vw;
    background-color: var(--color-pink);
    border: 2px solid var(--text-color);
    border-radius: 1.5vw;
}


#saveButton{
    font-weight: 700;
    padding: 4vw;
    border-radius: 4vw;
    background-color: var(--call-to-action);
    border-style: none;
    filter: drop-shadow(2px 2px 2px var(--color-grey));
}
/*#endregion Menu */



/*#region item*/

#item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#item-container{
    display: flex;
    background: -webkit-linear-gradient(-90deg, var(--color-green), #d7f5da);
    margin-top: 6vw;
    width: 85%;
    height: 12vw;
    border-radius: 2vw;
}
#item-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-container ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#item-container ul li input{
display: flex;
justify-content: center;
align-items: center;
}



#item-container ul li .checkboxclass {
    margin-left: auto; /* Pushes the checkbox to the far right */
    display: flex;
    align-items: center; /* Centers the checkbox vertically */
  }


/*#endregion item*/


.hidden{
    display: none !important;
}